/*------------------------TAGs--------------------------*/

body{
    background-image: url(../images/background-pattern-desktop.svg);
    background-position: top top;
    background-size: contain;
    background-repeat: no-repeat;
}

a > img{
    width: 30px;
    cursor: pointer;
}



/*--------------------------CLASSES-----------------------*/

.card-faq{
    width: 50%;
    margin: 13% auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    padding: 2%;
    border-radius: 2%;
    box-shadow: 0 6px 10px 3px #888;
}

.title-faq{
    display: flex;
    padding: 2% 2%;
    align-items: center;
    justify-content: flex-start;
}

.title-faq h1{
    font-size: 3.3rem;
    padding-left: 5%;
}

.questions {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 1%;
    border-bottom: 2px solid #e4e4e4;
}

.title-question{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 1%;
}

.title-question h2{
    padding: 5% 30% 1% 0;
    font-size: 1.3rem;
    flex-grow: 1;
}
    
.desativado{
    display: none;
    overflow: hidden;
}